<section class="collections">
    <h2>Berhampur slik</h2>
    <p class="subtitle">The Attire Of India</p>

    <div class="product-grid">
      <!-- Product Card 1 -->
      <div class="product-card" onclick="toggleImage(this)">
        <div class="image-container">
          <img src="image/saree1.webp" alt="Front View" class="front-image">
          <img src="image/saree1.webp" alt="Back View" class="back-image">
          <div class="card-buttons">
            <button class="quick-view">Quick View</button>
            <button class="add-to-cart">Add to Cart</button>
          </div>
        </div>

        <div class="product-info">
          <h3>Handloom Berhampur Slik Saree</h3>
          <p><del>₹ 36,996.95</del> <span class="price">₹ 29,597.56</span></p>
          <div class="stars">★★★★☆</div>
        </div>
      </div>



      <!-- Product Card 2 -->
      <div class="product-card" onclick="toggleImage(this)">
        <div class="image-container">
          <img src="image/saree2.webp" alt="Front View" class="front-image">
          <img src="image/saree2.webp" alt="Back View" class="back-image">
          <div class="card-buttons">
            <button class="quick-view">Quick View</button>
            <button class="add-to-cart">Add to Cart</button>
          </div>
        </div>

        <div class="product-info">
          <h3>Handloom Berhampur Slik Saree</h3>
          <p><del>₹ 27,996.95</del> <span class="price">₹ 21,597.56</span></p>
          <div class="stars">★★★★☆</div>
        </div>
      </div>

      <!-- Product Card 3 -->
      <div class="product-card" onclick="toggleImage(this)">
        <div class="image-container">
          <img src="image/saree3.webp" alt="Front View" class="front-image">
          <img src="image/saree3.webp" alt="Back View" class="back-image">
          <div class="card-buttons">
            <button class="quick-view">Quick View</button>
            <button class="add-to-cart">Add to Cart</button>
          </div>
        </div>
        <div class="product-info">
          <h3>Handloom Berhampur Slik Saree</h3>
          <p><del>₹ 25,996.95</del> <span class="price">₹ 20,597.56</span></p>
          <div class="stars">★★★★☆</div>
        </div>

      </div>
    </div>

  </section>