<div class="features">
    <div class="feature"><img src="/image/handmade.webp" alt="">
        <p>HANDMADE</p>
    </div>
    <div class="feature"><img src="/image/sustainable.avif" alt="">
        <p>SUSTAINABLE</p>
    </div>
    <div class="feature"><img src="/image/luxio.avif" alt="">
        <p>LUXURIOUS FEEL</p>
    </div>
    <div class="feature"><img src="/image/art.jpg" alt="">
        <p>ARTISANAL</p>
    </div>
    <div class="feature"><img src="/image/design.jpg" alt="">
        <p>CUSTOM FITTING</p>
    </div>
    <div class="feature"><img src="/image/vegan.avif" alt="">
        <p>PURE & AUTHENTIC</p>
    </div>
</div>