<div class="features">
    <div class="feature"><img src="image/handmade.webp" alt="Handmade">
        <p>HANDMADE</p>
    </div>
    <div class="feature"><img src="image/sustainable.avif" alt="Sustainable">
        <p>SUSTAINABLE</p>
    </div>
    <div class="feature"><img src="image/luxio.avif" alt="luxurious feel">
        <p>LUXURIOUS FEEL</p>
    </div>
    <div class="feature"><img src="image/art.jpg" alt="Artisanal">
        <p>ARTISANAL</p>
    </div>
    <div class="feature"><img src="image/design.jpg" alt="Custom Fitting">
        <p>CUSTOM FITTING</p>
    </div>
    <div class="feature"><img src="image/vegan.avif" alt="Pure & Authentic">
        <p>PURE & AUTHENTIC</p>
    </div>
</div>