<footer class="footer">
    <div class="footer-top">
      <div class="footer-col contact">
        <img src="/image/logo.jpg" alt="vayana Logo" class="footer-logo">
        <p>samblpur</p>
        <p><a href="mailto:info@genica.com">info@geinca.com</a></p>
        <p><a href="tel:+9112345678">+91 6370262470 </a></p>
        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-pinterest-p"></i></a>
          <a href="#"><i class="fab fa-whatsapp"></i></a>
        </div>
      </div>
      <div class="footer-col">
        <h4>Collection</h4>
        <ul>
          <li><a href="#">Celebrity Closet</a></li>
          <li><a href="#">Kalamkari Sarees</a></li>
          <li><a href="#">Kanjivaram Sarees</a></li>
          <li><a href="#">Soft Silk Sarees</a></li>
          <li><a href="#">Blouse</a></li>
          <li><a href="#">Dupatta</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Information</h4>
        <ul>
          <li><a href="contact.html">Contact us</a></li>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="#">Articles</a></li>
          <li><a href="#">Track Your Order</a></li>
          <li><a href="#">Shipping Policy</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Refund & Cancellations</a></li>
          <li><a href="#">Terms & Conditions</a></li>
        </ul>
      </div>
      <div class="footer-col newsletter">
        <h4>Newsletter Signup</h4>
        <p>Subscribe to our newsletter and get 10% off your first purchase</p>
        <form>
          <input type="email" placeholder="Your email address">
          <button type="submit">Subscribe</button>
        </form>
      </div>
    </div>
    <div class="footer-bottom">
      <p>Copyright © 2025 Vayana all rights reserved.</p>
      <p>Developed by Geinca</p>
  </footer>