<section class="kalamkari-section">
    <p class="tagline">Everything is created to absolute highest standard</p>
    <h2>Made In India | Experienced Globally</h2>
    <h3 class="category-title">Bomkai Silk</h3>

    <div class="product-grid">
      <div class="product-card" >
        <div class="image-container">
          <img src="image/saree4.webp" alt="Front View" class="front-image">
          <img src="image/saree4.webp" alt="Back View" class="back-image">
          <div class="card-buttons">
            <button class="quick-view">Quick View</button>
            <button class="add-to-cart">Add to Cart</button>
          </div>
        </div>
        <div class="product-info">
          <h3>Bomkai Silk Saree- Black</h3>
          <p><del>₹ 36,996.95</del> <span class="price">₹ 29,597.56</span></p>
          <div class="stars">★★★★☆</div>
        </div>
      </div>
      <div class="product-card">
        <div class="image-container">
          <img src="image/saree5.webp" alt="Front View" class="front-image">
          <img src="image/saree5.webp" alt="Back View" class="back-image">
          <div class="card-buttons">
            <button class="quick-view">Quick View</button>
            <button class="add-to-cart">Add to Cart</button>
          </div>
        </div>
        <div class="product-info">
          <h3>Bomkai Silk Saree- white</h3>
          <p><del>₹ 36,996.95</del> <span class="price">₹ 29,597.56</span></p>
          <div class="stars">★★★★☆</div>
        </div>
      </div>
    </div>


  </section>


  