 <section class="kanjivaram-section">
    <h2 class="category-title">Kotpad Cotton</h2>
    <div class="product-grid">

      <!-- Product Card 1 -->
      <div class="product-card" onclick="toggleImage(this)">
        <div class="image-container">
          <img src="/image/saree6.webp" alt="Front View" class="front-image">
          <img src="/image/saree6.webp" alt="Back View" class="back-image">
          <div class="card-buttons">
            <button class="quick-view">Quick View</button>
            <button class="add-to-cart">Add to Cart</button>
          </div>
        </div>
        <div class="product-info">
          <h3>Kotpad Cotton Saree-Maroon</h3>
          <p><del>₹ 36,996.95</del> <span class="price">₹ 29,597.56</span></p>
          <div class="stars">★★★★☆</div>
        </div>

      </div>

      <!-- Product Card 2 -->
      <div class="product-card" onclick="toggleImage(this)">
        <div class="image-container">
          <img src="/image/saree7.webp" alt="Front View" class="front-image">
          <img src="/image/saree7.webp" alt="Back View" class="back-image">
          <div class="card-buttons">
            <button class="quick-view">Quick View</button>
            <button class="add-to-cart">Add to Cart</button>
          </div>
        </div>
        <div class="product-info">
          <h3>Kotpad cotton Saree-white</h3>
          <p><del>₹ 36,996.95</del> <span class="price">₹ 29,597.56</span></p>
          <div class="stars">★★★★☆</div>
        </div>

      </div>
      <!-- Product Card 3 -->
      <div class="product-card" onclick="toggleImage(this)">
        <div class="image-container">
          <img src="/image/saree8.webp" alt="Front View" class="front-image">
          <img src="/image/saree8.webp" alt="Back View" class="back-image">
          <div class="card-buttons">
            <button class="quick-view">Quick View</button>
            <button class="add-to-cart">Add to Cart</button>
          </div>
        </div>
        <div class="product-info">
          <h3>Kotpad cotton Saree-Creamy</h3>
          <p><del>₹ 36,996.95</del> <span class="price">₹ 29,597.56</span></p>
          <div class="stars">★★★★☆</div>
        </div>

      </div>
      <!-- Product Card 4 -->
      <div class="product-card" onclick="toggleImage(this)">
        <div class="image-container">
          <img src="/image/saree9.webp" alt="Front View" class="front-image">
          <img src="/image/saree9.webp" alt="Back View" class="back-image">
          <div class="card-buttons">
            <button class="quick-view">Quick View</button>
            <button class="add-to-cart">Add to Cart</button>
          </div>
        </div>
        <div class="product-info">
          <h3>Kotpad cotton Saree-Orange</h3>
          <p><del>₹ 36,996.95</del> <span class="price">₹ 29,597.56</span></p>
          <div class="stars">★★★★☆</div>
        </div>

      </div>


  </section>